<div *ngIf="player">
  
  <form class="form-inline" role="form"> 

    <div class="form-group">
      <label for="playerName">Name</label>
        <input type="text" 
          [(ngModel)]="player.name" 
          class="form-control" 
          id="playerName" 
          name="playerName" 
          placeholder="Player Name">
    </div>

    <div class="form-group">
      <label for="race">Race</label>
      <select class="form-control" title="Choose one of the following..." id="race">
        <option *ngFor="let race of races">{{race.name}}</option>
      </select>
    </div>

    <button 
      type="button" 
      class="btn btn-danger"
      (click)="delete()">Delete Player</button>

  </form>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="">Technology</a></li>
    <li role="presentation"><a href="">Battle Simulation</a></li>
  </ul>

</div>