<div *ngIf="player">
  
  <form class="form-inline" role="form"> 

    <div class="form-group">
      <label for="playerName">Name</label>
        <input type="text" 
          [(ngModel)]="player.name"
          class="form-control" 
          id="playerName" 
          name="playerName" 
          placeholder="Player Name">
    </div>

    <div class="form-group">
      <label for="race">Race</label>
      <select 
        [ngModel]="player?.race?.id" 
        (ngModelChange)="raceOnChange($event)"
        class="form-control" 
        name="race" id="race">
        <option value="null" disabled>Select the race</option>
        <option *ngFor="let race of races" 
          [ngValue]="race.id">{{race.name}}</option>
      </select>
    </div>

  </form>

  <ul class="nav nav-tabs">
    <li role="presentation"
      class="active">
      <a [routerLink]="['/player', player.id, 'stats']">Stats</a>
    </li>
    <li role="presentation">
      <a [routerLink]="['/player', player.id, 'technology']">Technology</a>
    </li>
    <li role="presentation">
      <a [routerLink]="['/player', player.id, 'battlesimulation']">Battle Simulation</a>
    </li>
  </ul>

</div>

<router-outlet></router-outlet>